body{
    background: #f1f1;
}
@font-face{
    font-family: 'public-sans';
    src: url('PublicSans-Italic-VariableFont_wght.ttf');
}
*{
    font-family: public-sans;
   margin: 0;
   padding: 0;
}
ul{
  text-decoration: none; 
}
li{
    list-style: none;
    float: left;
    text-decoration: none; 
    margin: 40px;
    cursor: pointer; 
}
p{
    color: grey;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
}
.btn{
    padding: 15px 50px;
    border: 1px solid linear-gradient(45deg,rgb(0, 255, 4),rgb(0, 174, 255));;
    border-radius: 50px;
    margin-top: 19px;
    margin-left: 110px;
    justify: center;
    color: #fff;
    background: linear-gradient(45deg,rgb(0, 255, 4),rgb(0, 174, 255));
    cursor: pointer;
}
.logo{
    margin-right: 170px;
}
.conteudo-cima{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    background: hsl(0, 0%, 100%);
    height: 100px;
    border: 1px solid transparent;
}
.links-cima{
    display:flex;
    width: 1400px;
    border: 1px solid transparent;
    margin: 0 auto;
    justify-content: space-evenly;
    font-size: 17px;
}
.meio{
    border: 1px solid blue;
}
.area-conteudo-1{
    display: flex;
    width: 1400px;
    height:800px;
    border: 1px solid yellow;
    margin: 0 auto;
}
.textos-1{
   margin: 50px;
   margin-top: 150px;
}
.lado-meio{
    border: 1px solid red;
    width: 900px;
    height: 800px;
    justify-self: right;
    background: url('images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    top: -10px;
    position: relative;
}
.h1-meio{
    font-size: 50px;
    font-weight: 100;
}
.area-conteudo-2{
    width: 1400px;
    border: 1px solid green;
    height: 650px;
    margin: 0 auto;
}
.textos-2{
    display: block;
    border: 1px solid red;
    margin: 50px;
    padding: 10px;
}
.h2-meio{
    color: hsl(233, 26%, 24%);
    font-size: 35px;
}
.h2-cards{
    font-weight: 300;
    font-size: 20px;
    margin-top: 15px;
}
.textos-3{
    font-size: 18px;
    padding: 5px;
}
.card{
    border: 1px solid red;
    margin: 10px;
    justify: center;
}
.area-cards{
    display: flex;
    border: 1px solid red;
    margin: 10px;
    justify-content: space-around;
}
.area-conteudo-3{
    width: 1400px;
    border: 1px solid black;
    margin: 0 auto;
    height: 600px;
}
.h1-noticias{
    font-size: 40px;
    margin:20px;
    color: hsl(233, 26%, 24%);
}
.noticias{
    border: 1px solid pink;
    display: flex;
}
.noticias-link{
    border: 1px solid orange;
    margin: 10px;
}
.img-noticias{
    border-radius: 5px;
}
.author{
    margin-top: 55px;
    font-size: 12px;
}
.texto-noticia{
    color: black;
}
